################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties
/obj/Release
/obj/Debug/TempPE
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/Niffler_Linkedin Scrapper.csproj.CoreCompileInputs.cache
*.cache
*.sqlite
/.vs/Niffler_Linkedin_Scrapper/v16
/.vs/Linkedin Scrapper/v16/Server/sqlite3
*.suo
